<main>
  <article id="product_display" *ngIf="funko">
    <section class="product_sections">
      <figure id="product_image_container">
        <img id="product_image" [src]="funko.image" [alt]="funko.name" />
      </figure>
    </section>

    <section id="product_info" class="product_sections">
      <section id="product_def_container">
        <h1 id="product_title">{{ funko.name }}</h1>
        <h2 id="category_text">{{ funko.series }}</h2>
      </section>
      <p id="product_description">{{ funko.description }}</p>
      <p id="product_price">{{ funko.price }}€</p>
      <button type="button" id="buy_button">Añadir al Carrito</button>
    </section>
  </article>

  <p *ngIf="!funko">Producto no encontrado.</p>
</main>
<aside>
  <h2 id="related_products_text">Podría interesarte...</h2>
  <nav id="related_items_container" *ngIf="!loadingRelated && !errorRelatedMessage">
    <section *ngFor="let funko of relatedFunkos" class="related_product_item" (click)="viewProductDetailled(funko.id)">
        <img class="related_images" [src]="funko?.image" [alt]="funko?.name" />
          <p class="related_products_text">{{ funko?.name }}</p>
      </section>
  </nav>
</aside>
