<footer>
  <section class="gallery">
    <img src="assets/images/instagram.png" alt="Social Icon">
    <img src="assets/images/tik-tok.png" alt="Social Icon">
    <img src="assets/images/twitter.png" alt="Social Icon">
    <img src="assets/images/facebook.png" alt="Social Icon">
  </section>

  <section class="info">
    <h2>CONTACTOS</h2>
    <p>  Nos puedes encontrar en redes sociales (instagram, tiktok, twitter y facebook) como FunkoStoreGC</p>
  </section>

  <section class="info">
    <h2>SOBRE NOSOTROS</h2>
    <p>Somos una tienda física de figuras localizada en Las Palmas de Gran Canaria, en la calle Peregrina, 5.</p>
  </section>
</footer>
