<header>
  <section class="logo-title-list">
    <figure>
      <img src="assets/images/logo.png" alt="logo de la empresa" class="logo">
    </figure>
    <h1 class="sigmar-one-regular" id="title"><a>Funko Store</a></h1>
  </section>

  <form class="search-container">
    <button type="button" id="filter-button" (click)="toggleFilter()">
      <img src="assets/images/filter.png" alt="Filtrar" class="filter-icon">
    </button>
    <label>
      <input type="text" id="searchInput" placeholder="Buscar figuras...">
    </label>
    <button type="submit" id="search-button">
      <img src="assets/images/search.png" alt="buscar" class="search-icon">
    </button>
  </form>
  <section class="button-list">
    <a class="signed-out-button" id="sign_up">Sign up</a>
    <a class="signed-out-button" id="sign_in">Sign in</a>
    <button class="signed-in-button" id="cart-button">
      <img src="assets/images/shopping-cart.png" alt="Cart" class="cart-icon">
    </button>
    <a class="signed-in-button" id="log-out-button">
      <img src="assets/images/log-out.png" alt="Log out" class="logout-icon">
    </a>
  </section>
</header>
