<body>
  <main>
    <article id="register_box">
      <h1 id="register_text">Sign Up</h1>
      <form class="input_form" id="signup_form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <input id="name" type="text" placeholder="Name*" name="name" pattern="[a-zA-Z]+" required title="Insert your name (only alphabetic characters)" formControlName="name"/>
        <input id="surname" type="text" placeholder="Surname*" name="surname" pattern="[a-zA-Z]+" required title="Insert your surname (only alphabetic characters)" formControlName="surname"/>
        <input id="email" type="email" placeholder="Email*" name="email" required formControlName="email"/>
        <input id="password" type="password" placeholder="Password*" name="password" required formControlName="password"/>
        <button type="submit" id="submit_button">Submit</button>
      </form>
    </article>
  </main>
</body>
