<main>
  <article id="register_box">
    <h1 id="register_text">Sign In</h1>
    <form class="input_form" id="login_form">
      <input id="email" type="email" placeholder="Email*" name="email" required/>
      <input id="password" type="password" placeholder="Password*" name="password" required minlength="8"/>
      <button type="submit" id="submit_button">Submit</button>
    </form>
  </article>
  <section id="register_link">
    <button type="button" id="signup_link" (click)="goToSignUpPage()">
      <a>New to the shop? Register here</a>
    </button>
  </section>
</main>
