/* Asegúrate de que el dropdown esté visible cuando sea necesario */
.dropdown-menu {
  display: none; /* Ocultar por defecto */
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  /* Eliminamos el borde */
  /* border: 1px solid #000; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  padding: 10px 0;
  margin-top: 8px;
  width: 190px;
  z-index: 1000;
}

/* Mostrar cuando se activa el dropdown */
.show-dropdown {
  display: block;
}

.dropdown-menu li {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}
